<!DOCTYPE html>
<html>
<head>
    <title><%- theme.title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引入配置文件 -->
    <%- css('https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css') %>
    <%- css('css/main.css') %>
    <!-- 代码高亮库 -->
    <%- css('lib/highlight/styles/atom-one-dark') %>
</head>
<body>
<div id="main">
    <!-- 引入导航 -->
    <nav>
        <%- include('nav.ejs') %>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <aside id="#aside">
                    <%- include('aside.ejs') %>
                </aside>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <%- body %>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 引入 js 文件 -->
<%- js('js/jquery.slim.min.js') %>
<%- js('js/main.js') %>

!-- 引入代码高亮的 js -->
<%- js('lib/highlight/highlight.pack.js') %>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>